.center {
	text-align: center;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: white;
  	width: 100%;
    height: 50vh;
}

.nocats {
	margin: 0.8em 0 0 0;
	font-size: 1.2em;
}