.cat-list-item {
	position: relative;
    border: 1px solid #eee;
    border-radius: .25rem;
    margin: 0 0 30px 0;
    .img {
    	height: 30vh;
    }
	.card-body {
		padding: 20px;
		.btn {
			width: 100%;
		}
	}
}